numpy
matplotlib
pandas
scikit-learn
scikit-image
jupyterlab
jupyter-tikz
jupyterlab-hide-code
jupyterlab-mathjax3
jupyterlab_pygments
torch
torchvision
pdfplumber
nbconvert
nbconvert[webpdf] 
imageio
imageio[ffmpeg]

